
#header {
    position: absolute;
    top: 0px;
    right: 3.5%;
    left: 3.5%;
    height: 100px;

    #logo {
        color: #fff;
        font-size: 24px;
        float: left;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
}
